.filter {
  display: flex;
  justify-content: end;
  padding: 0 0.5rem 0 0.5rem;
}

.filter_button {
  width: 20%;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bolder;
  color: #fcf0d8;
}

.filter > button:hover {
  cursor: pointer;
  color: #bb4029;
}

.active {
  color: #bb4029;
  text-decoration: underline;
}
